/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*------------- секция techniques -----------*/


/* настройка правил для карточек */


.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
/* ------------ конец секции ---------------- */


/* ----------- секция digits ---------------- */
.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table_row-gap_l {
  row-gap: 60px;
}

.table_padding-top_l {
  padding-top: 60px;
}

.table__cell_size_l {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  /* сброс браузерных отступов */
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}

.table__text_line-height_m {
  line-height: 23px;
}
/* ------------ конец секции ----------------*/

/* ----------- секция kaufman ---------------- */
.section_text-theme_dark {
  color: #ffffff
}

.table__cell_size_m {
  width: 200px;
}

.table_padding-top_xl {
  padding-top: 80px;
}

.table_row-gap_xl {
  row-gap: 80px;
}

.table__text_line-height_l {
  line-height: 1.2;
}
/* ------------ конец секции ----------------*/

/* ----------- секция resources ---------------- */
.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: center;
}

.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
}
/* ------------ конец секции ----------------*/