.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
}

/* -----------Миксы----------- */

.section_size_m {
  padding-top: 100px;
  width: 80%;
}

.main-text {
  font-family: 'Inter', Arial, sans-serif;
}

.block_centered {
  margin: 0 auto;
}

.text_centered {
  text-align: center;
}

.section-title_text_size{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_margin_set {
  margin: 0 auto 20px auto;
}

.section-subtitle_text_size {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section_theme_dark {
  background-color: #1f1f1f;
}

/* ----------конец миксов------------ */



/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* ----------- секция header ---------------- */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__link {
  color: #2f80ed;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 34px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  
}
/* ------------ конец секции ----------------*/

/* ----------- секция description ---------------- */
.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  align-self: stretch;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__headline {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0 0 30px 0;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 0;
  /* обнуляю барузерные отступы для <p> */
  margin-bottom: 30px;
  
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
/* ------------ конец секции ---------------- */

/*------------- секция techniques -----------*/
.section-title {
  width: 60%;
}

.section-subtitle {
  width: 60%;
}

.cards {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

/* настройка правил для карточек */

.cards__item {
  max-width: 240px;
}


.cards__image{
  margin: 60px 40px 43px 40px;
}

.cards_image-size {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
/* ------------ конец секции ---------------- */


/* ----------- секция digits ---------------- */
.digits_padding_set {
  padding: 100px 0;
}

.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table_row-gap_l {
  row-gap: 60px;
}

.table_padding-top_l {
  padding-top: 60px;
}

.table__cell_size_l {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  /* сброс браузерных отступов */
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
}

.table__text_line-height_m {
  line-height: 23px;
}
/* ------------ конец секции ----------------*/

/* ----------- секция kaufman ---------------- */
.kaufman_padding_set {
  padding: 90px 0;
}

.section_text-theme_dark {
  color: #ffffff
}

.table__cell_size_m {
  width: 200px;
}

.table_padding-top_xl {
  padding-top: 80px;
}

.table_row-gap_xl {
  row-gap: 80px;
}

.table__text_line-height_l {
  line-height: 1.2;
}
/* ------------ конец секции ----------------*/

/* ----------- секция resources ---------------- */

.resources {
  padding: 100px 0 217px 0;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: center;
}

.resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
}

/* ------------ конец секции ----------------*/


/* --------------- секция footer ---------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin: 0 auto;
  height: 250px;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  background: url(/images/logo_place_footer.svg);
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

